
*{
    margin: 0px;
}
ul li{
  padding: 16px;
  border: 50px;
  border-color: rgb(248, 248, 251);
  margin-inline-start: 0%;
  float: left;
  background-color: ;
}
ol{
    float: right;
    padding: 0%;
}
ul{
    background-color: rgb(1, 1, 2);
}
.c1 {
    float: left;
    width: 48%;
    padding: 15px;
    text-align: justify;
    
  }
  .c2 {
    float: left;
    width: 47%;
    padding: 15px;
    text-align: justify;

  }
  .row2{
    padding: 16px;
    

  }
  .i{
    width: 25%;
    height: 250px;
  }
  .p2{
    float: right;
    width: 48.5%;
    padding: 15px;
    padding: 0%;
    text-align: justify;
    text-decoration: aliceblue;

  }
  body{
    background-color: black;
    max-width: max-content;

  }
  summary{
    text-colour: wight;
  }
  .p3{
    float: left;
    max-width: 48.5%;
    padding: 15px;
    padding: 0%;
    text-align: justify;
    text-decoration: aliceblue;

  }
  .li{
    text-align: right;
    width: 47%;
    padding: 15px;
    text-align: justify;
  }
  .container{
    
    height: 300px;
    width: 1200px;
    margin: 240px auto;
    padding: 0%;
    display: flex;
  }
  .container.box{
    
    width: calc(400px-30px);
    height: calc(300px -30px);
    background-color: rgb(185, 103, 103);
    float: left;
 
  }
 .H{
  txte-color:red;
 }