
*{
    margin: 0px;
}
ul{
    padding: 15px;
    border: 50px;
    border-color: rgb(9, 9, 10);
    margin-inline-start: 0%;
    
}
ol{
    float: right;
    padding: 0%;
}
ul{
    background-color: rgb(1, 1, 2);
}
.c1 {
    float: left;
    width: 48%;
    padding: 15px;
    text-align: justify;
  }
  .c2 {
    float: left;
    width: 47%;
    padding: 15px;
    text-align: justify;

  }
  .row2{
    padding: 16px;
    

  }
  .i{
    width: 50%;
    height: 250px;
  }
  .p2{
    float: right;
    width: 48.5%;
    padding: 15px;
    padding: 0%;
    text-align: justify;

  }
  