
  
 
.c1 {
    float: left;
    width: 30.33%;
    padding: 15px;
  }
  .c2 {
    float: left;
    width: 30.33%;
    padding: 15px;

  }
  .c3 {
    float: left;
    width: 30.33%;
    padding: 15px;
  }
 .i{
    float: left;
    width: 100%;
    padding: 0%;
 }
 .love{
    float: left;
    width: 100%;
    padding: 0%;

 }
 .you{
    float: left;
    width: 100%;
    padding: 0%;
    
 }