li{
    display: inline;
    padding: 10px;
}
body{
    background-color: rgba(120, 120, 207, 0.554);
}
a{
    text-decoration: none;
    
}
    
.C{
    
    border: solid;
    height: 700px;
    display: flex;

}

.box{
    border: solid 5px red;
    padding: 10%;
    margin: 5%;
    height: 10px;
    
    border-radius: 30px;
}
button{
    float: right;
}
.al{
    float: right;
}