*{
    margin: 0px;

}


div {
    height: 40px;
    width: 25px;
}
li {
    display: inline;
padding: 16px;

}
ul{
    background-color: red;
    margin: 0px;
    padding: 16px;
}
.ri{
    background-color: yellow;
}

#right{
    float: right;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

  .raj{
    
    width: 100%;
    border: 20px;
    border-style: solid;
    border-radius :1px;
    height: 300px;

  }