*{
    margin: 0px;

}


div {
    height: 40px;
    width: 25px;
}
li {
    display: inline;
padding: 16px;

}
ul{
    background-color: rgb(238, 228, 228);
    margin: 0%;
    padding: 16px;
}
.ri{
    background-color: red;
}
.H{
    background-color: aqua;
}
.A{
    background-color: aqua;
}
.C{
    background-color: aqua;
}
    


#right{
    float: right;
    padding: 0%;
    background-color: aqua;
    
}

.container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

  .raj{
    
    width: 100%;
    border: 20px;
    border-style: solid;
    border-radius :1px;
    height: 300px;

  }
  
 